<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".GlobalVariables"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompCrianca"
        tools:targetApi="31">
        <activity
            android:name=".binVideo"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.AppCompCrianca" />
        <activity
            android:name=".HardSoftVideo"
            android:exported="false" />
        <activity
            android:name=".ArqVideo"
            android:exported="false" />
        <activity
            android:name=".VariaveisChoice"
            android:exported="false" />
        <activity
            android:name=".VarGameEnd"
            android:exported="false" />
        <activity
            android:name=".VarGameStart"
            android:exported="false" />
        <activity
            android:name=".HardSoftGameEnd"
            android:exported="false" />
        <activity
            android:name=".HardSoftGameStart"
            android:exported="false"
            android:label="@string/title_activity_hard_soft_game_start"
            android:theme="@style/Theme.AppCompCrianca" />
        <activity
            android:name=".BinariosGame"
            android:exported="false" />
        <activity
            android:name=".BInariosChoice"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".GameOver"
            android:exported="false" />
        <activity
            android:name=".StartGame"
            android:exported="false" />
        <activity
            android:name=".LinguagensChoice"
            android:exported="false" />
        <activity
            android:name=".sistemasChoice"
            android:exported="false" />
        <activity
            android:name=".Trophy"
            android:exported="false" />
        <activity
            android:name=".opcoes"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>